
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-5 mb-5">Welcome to Fine Recipes</h1>

<h4 class="ml-5 mr-5">At Fine Recipes, our site is dedicated to providing a variety of quality recipes to cooks of any proficiency level. You can also submit your own fine recipes that you wish to share with others, and rate and review recipes available on our site.</h4>


<div class="text-center my-5">
    <img src="~/images/fine-recipes-banner.jpg" class="img-fluid ml-5 mr-5" alt="Fine Recipes banner.">
</div>
