@model RecipeFormViewModelData
@{
    ViewData["Title"] = "InsertPage";
}

<h1 class="text-center mt-5 mb-5">Add Recipe</h1>

<div class="ml-5 mr-5 mb-5">
    @Html.Partial("RecipeForm", Model)
</div>
